<div class="jumbotron jumbotron-fluid jumbotron_home">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-2">
        <img src="http://railsgirls.com/images/rg-losangeles.png" class="rails_png">
      </div>
      <div class="col-sm-10 itim neg_padding">railsgirlsla</div>
    </div>

    <div class="row">
      <div class="col-12">
        <h1 class="home_header">Apply to Rails Girls LA 
          November 8<sup>th</sup> & 9<sup>th</sup> <i class="fas fa-heart"></i>
        </h1>
        <p class="home_text">Only 25 applicants will be accepted. Applicants must be at least 13 years old. Beginners will be given priority. Applications will be reviewed as they arrive.</p>
      </div>

    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
      </div>
    </div>


    </div>
  </div>
</div>