/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

.jumbotron_home {
  background-color: #BFD6CB !important;
}

.itim {
  font-family: "Sanchez", serif;
  font-size: 6.5em;
  color: #9a0026;
}

.border-gray {
  border: 3px solid #ccc;
}

.rails_png {
  margin-top: 15px;
  width: 125px;
}

.neg_padding {
  margin-left: -45px;
}

.home_header, .home_text {
  font-family: 'Open Sans', sans-serif;
}

.home_header {
  font-size: 3.0em;
}

.home_text {
  font-size: 1.3em;
}

